* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'open sans', 'segoe ui'; 
    box-sizing: border-box;
}

#about {
    display: grid;
    gap: 1rem;
    margin: 5vh 20vh;
}

.person {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 2fr 6fr;
    gap: 3rem;
    padding: 5vh;
    border-radius: 15px;
    background-color: #e1eec7;
    box-shadow: 1px 1px 2px #727866;
}

.img {
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.person:nth-child(1) .img {
    background-image: url(../assets/pranav.jpeg);
}

.person:nth-child(2) .img {
    background-image: url(../assets/geeta.jpeg);
}

.person:nth-child(3) .img {
    background-image: url(../assets/arthi.jpeg);
}

.name {
    font-size: 2rem;
    font-weight: 600;
    line-height: 5rem;
}

.p-info {
    opacity: 0.9;
    padding-bottom: 2vh;
}

.social-links {
    display: flex;
    gap: 1rem;
    margin-top: 1vh;
}

.social-links a {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    text-decoration: none;
    color: blue;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a:hover {
    background-color: #000;
    color: red;
    transition: 0.3s;
    border: 1px solid red;
}

@media screen and (max-width : 1000px) {
    #about {
        margin: 5vh;
    }

    .person {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width : 450px) {
    .person {
        gap: 0;
        padding: 3vh;
    }

    .person .img {
        height: 30vh;
        width: 30vh;
        padding: 0;
    }
}