* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: segoe ui;
}

body {
    margin: 20px;
}

h1 {
    line-height: 7rem;
    /* margin-bottom: 20px; */
    border-radius: 10px 10px 0px 0px;
    color: #fff;
    background-color: #0ce740;
    text-align: center;
}

label {
    margin-top: 15vh;
}

.form-container {
    max-width: 600px;
    margin: auto;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    padding: 30px;
}


input,
select,
textarea {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0 20px 0;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.star {
    color: rgb(239, 6, 6);
}

#back-btn {
    display: block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Add this CSS to your form.css file or style section */
#spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 160px;
    height: 100px;
    margin-left: -80px;
    margin-top: -50px;
    border-radius: 5px;
    background: #1e3f57;
    animation: dot1_ 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.loader:nth-child(2) {
    z-index: 11;
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
    border-radius: 3px;
    background: #3c517d;
    animation-name: dot2_;
}

.loader:nth-child(3) {
    z-index: 12;
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 0 5px 5px;
    background: #6bb2cd;
    animation-name: dot3_;
}

@keyframes dot1_ {

    3%,
    97% {
        width: 160px;
        height: 100px;
        margin-top: -50px;
        margin-left: -80px;
    }

    30%,
    36% {
        width: 80px;
        height: 120px;
        margin-top: -60px;
        margin-left: -40px;
    }

    63%,
    69% {
        width: 40px;
        height: 80px;
        margin-top: -40px;
        margin-left: -20px;
    }
}

@keyframes dot2_ {

    3%,
    97% {
        height: 90px;
        width: 150px;
        margin-left: -75px;
        margin-top: -45px;
    }

    30%,
    36% {
        width: 70px;
        height: 96px;
        margin-left: -35px;
        margin-top: -48px;
    }

    63%,
    69% {
        width: 32px;
        height: 60px;
        margin-left: -16px;
        margin-top: -30px;
    }
}

@keyframes dot3_ {

    3%,
    97% {
        height: 20px;
        width: 40px;
        margin-left: -20px;
        margin-top: 50px;
    }

    30%,
    36% {
        width: 8px;
        height: 8px;
        margin-left: -5px;
        margin-top: 49px;
        border-radius: 8px;
    }

    63%,
    69% {
        width: 16px;
        height: 4px;
        margin-left: -8px;
        margin-top: -37px;
        border-radius: 10px;
    }
}