*{
    box-sizing: border-box;
}
/* Collapsed Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar ul {
    padding-left: 2rem;
    margin-top: 15vh;
}

.sidebar ul li{
    list-style: none;
}

.sidebar a {
    padding: 0.5rem 0;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.50);
}

.sidebar a:hover {
    color: white;
}

#current-tab{
    color: rgb(200, 255, 0);
}

#side-msg{
    position: fixed;
    bottom: 10vh;
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 2rem;
    color: white;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 5vw;
    font-size: 2.25rem;
    color: red;
    /* margin-left: 5vw; */
}

.openbtn {
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    background-color: none;
    display: none;
    color: white;
}

.openbtn:hover {
    background-color: #444;
}

/* media queries */
@media screen and (max-width : 700px) {
    #navbar ul {
        display: none;
    }

    #navbar .openbtn {
        display: contents;
    }

}

