* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'open sans', 'segoe ui';
}

#navbar {
    background-color: black;
}

/* Show */
#show {
    position: relative;
    display: grid;
    gap: 10vw;
    min-height: 80vh;
    max-height: fit-content;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto 30%;
    padding: 0 10vw;
}

#show #heading {
    font-size: 4rem;
    font-weight: 650;
}

#show #not-heading {
    font-size: 1.125rem;
}

#show #btns {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

#show #btns a {
    padding: 1vh 3vh;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid black;
    text-decoration: none;
}

#show #btns a:active {
    box-shadow: 1px 1px 1px black;
}

#show-img {
    display: flex;
    justify-content: center;
    height: 25rem;
    width: 25rem;
    max-width: 100%;
    background-image: url(../assets/metro.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Visists info */
.info {
    display: flex;
    align-items: center;
    padding: 5vh 10vh;
    gap: 5vw;
}

.info-img {
    max-height: 50vh;
    min-height: 30vh;
    height: auto;
    max-width: 40vw;
    border-radius: 20px;
}

.info-text {
    display: flex;
    /* max-height: 30vw; */
    justify-content: flex-start;
    font-size: 2.1rem;
    align-items: center;
}

/* info styling */
#info1 {
    background-color: rgb(255, 255, 255);
}

#info2 {
    background-color: rgb(228, 238, 244);
    flex-direction: row-reverse;
}

#info3 {
    background-color: rgb(255, 255, 255);
}

/* THANKS */
#thanks {
    height: 30vh;
    font-size: 2rem;
    background-color: #f8c3c3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh;
    border-radius: 10px;
}

#thanks div {
    line-height: 10vh;
}

#thanks h1 {
    color: rgb(255, 17, 0);
    animation-name: scale;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes scale {
    0% {
        font-size: 4rem;
        transform: rotate(0deg);
    }

    50% {
        font-size: 5rem;
        transform: rotate(8deg);
    }

    100% {
        font-size: 4rem;
        transform: rotate(0deg);
    }
}

/* Media quries */
@media screen and (max-width : 1200px) {
    #show #heading {
        font-size: 3.5rem;
    }
}

@media screen and (max-width : 1000px) {
    #show #heading {
        font-size: 3rem;
    }

    #show #not-heading {
        font-size: 1rem;
    }

    #info1,
    #info2,
    #info3 {
        flex-direction: column;
    }

    .info-img {
        height: 40vw;
        max-width: 70vw;
    }
}

@media screen and (max-width : 700px) {
    #show {
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }

    #show-img {
        height: 15rem;
        width: 15rem;
    }

    #show #heading {
        font-size: 2.5rem;
    }
}

@media screen and (max-width : 400px) {
    #down-btn a{
        padding: 1vh;
    }
        
}