* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'open sans', 'segoe ui';
}

#navbar {
    position: relative;
    background-color: transparent;
    z-index: 10;
}

/* Show */
#show {
    /* position: relative; */
    display: grid;
    gap: 10vw;
    min-height: 100vh;
    max-height: fit-content;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto 30%;
    padding: 0 10vw;
    color: white;
    /* top: -15vh; */
    padding-top: 15vh;
    margin-top: -15vh;
}

#show span,
#show canvas {
    position: absolute;
}

#show #heading {
    font-size: 4rem;
    font-weight: 650;
}

#show #not-heading {
    font-size: 1.125rem;
}

#show #btns {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

#btns a {
    position: relative;
    text-decoration: none;
    --color: #fff;
    padding: 1vh 3vh;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    color: var(--color);
    border: 1px solid var(--color);
    border-radius: 5px;
}

#btns a::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 200px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}

#btns a:hover {
    color: black;
}

#btns a:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}

#btns a:hover::before {
    top: -30px;
    left: -30px;
}

#show-img {
    display: flex;
    justify-content: center;
    height: 25rem;
    width: 25rem;
    max-width: 100%;
    background-image: url(../assets/metro-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* border: 1px solid white; */
}

/* Visists info */
#visits {
    margin: 5vh 0 0 0;
}

#visits h1 {
    text-align: center;
}

.info {
    display: flex;
    align-items: center;
    padding: 5vh 10vh;
    gap: 5vw;
}

.info-img {
    /* max-height: 50vh; */
    max-width: 40vw;
    height: auto;
    min-height: 30vh;
    border-radius: 20px;
}

.info-text {
    display: flex;
    /* max-height: 30vw; */
    justify-content: flex-start;
    font-size: 1.5rem;
    align-items: center;
}

/* info styling */
#info1 {
    background-color: rgb(255, 255, 255);
}

#info2 {
    background-color: rgb(247, 225, 253);
    flex-direction: row-reverse;
}

#info3 {
    background-color: rgb(255, 255, 255);
}

/* Info contents animations */
.info-text {
    transform: scale(0.95);
    transition: transform 1s ease-out;
}

.pop {
    transform: scale(1);
}

/* Scrolling images */
#scrolling-container {
    height: 70vh;
    overflow: hidden;
    position: relative;
    background-color: rgba(227, 0, 227, 0.169);
    background-color: rgb(21, 0, 30);
    background-image: linear-gradient(black 50%, rgba(227, 0, 227, 0.169));
    margin: 5vh 0;
}

.scrolling-images {
    display: flex;
    animation: scroll infinite;
    animation-timing-function: ease-in-out;
    animation-duration: calc(var(--image-count) * 3s);
}

.image {
    width: 100vw;
    height: 70vh;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    height: 60vh;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    3.33% {
        transform: translateX(0);
    }

    6.67% {
        transform: translateX(-100vw);
    }

    10% {
        transform: translateX(-100vw);
    }

    13.33% {
        transform: translateX(-200vw);
    }

    16.67% {
        transform: translateX(-200vw);
    }

    20% {
        transform: translateX(-300vw);
    }

    23.33% {
        transform: translateX(-300vw);
    }

    26.67% {
        transform: translateX(-400vw);
    }

    30% {
        transform: translateX(-400vw);
    }

    33.33% {
        transform: translateX(-500vw);
    }

    36.67% {
        transform: translateX(-500vw);
    }

    40% {
        transform: translateX(-600vw);
    }
    
    43.33% {
        transform: translateX(-600vw);
    }

    46.67% {
        transform: translateX(-700vw);
    }

    50% {
        transform: translateX(-700vw);
    }

    53.33% {
        transform: translateX(-800vw);
    }

    56.67% {
        transform: translateX(-800vw);
    }

    60% {
        transform: translateX(-900vw);
    }

    63.33% {
        transform: translateX(-900vw);
    }

    66.67% {
        transform: translateX(-1000vw);
    }

    70% {
        transform: translateX(-1000vw);
    }

    73.33% {
        transform: translateX(-1100vw);
    }

    76.67% {
        transform: translateX(-1100vw);
    }

    80% {
        transform: translateX(-1200vw);
    }

    83.33% {
        transform: translateX(-1200vw);
    }

    86.67% {
        transform: translateX(-1300vw);
    }

    90% {
        transform: translateX(-1300vw);
    }

    93.33% {
        transform: translateX(-1400vw);
    }

    96.67% {
        transform: translateX(-1400vw);
    }

    100% {
        transform: translateX(-1500vw);
    }

}


/* Services  */
#services > h1{
    text-align: center;
    width: 100%;
}

#services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#services-description {
    margin: 1% 5vh;
    font-size: 1.2rem;
}
.service {
    width: 25%;
    /* background: linear-gradient(to left, #FFC0CB, #9370DB, #026c85); */
    background-image: linear-gradient(to right bottom, rgb(105, 103, 244), rgb(66, 8, 96));
    padding: 3%;
    border-radius: 10px;
    margin: 3% 5vh;
    color: white;
}
.service:hover{
    position: relative;
    top: -10px;
}
.service-img {
    text-align: center;
    margin-bottom: 3%;
}
.service-img img {
    width: 90%;
    height: 25vmin;
    border-radius: 1rem;
    border: 10px solid #ffffff;
}

.service-title {
    font-size: 1.5rem;
    height: 20%;
}

.service-desc {
    font-size: 1rem;
    display: inline-block;
    margin: 3% 0;
}

/* THANKS */
#thanks {
    text-align: center;
    font-size: 2rem;
    background-color: #f8c3c3;
    border-radius: 10px;
    margin: 5vh;
    padding: 5vh;
}

#thanks div {
    line-height: 10vh;
}

#thanks h1 {
    color: rgb(255, 17, 0);
    animation-name: scale;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes scale {
    0% {
        font-size: 4rem;
        transform: rotate(0deg);
    }

    50% {
        font-size: 5rem;
        transform: rotate(8deg);
    }

    100% {
        font-size: 4rem;
        transform: rotate(0deg);
    }
}

/* Media quries */
@media screen and (max-width : 1200px) {
    #show #heading {
        font-size: 3.5rem;
    }

    .service{
        width: 40%;
        padding: 5%;
    }
}

@media screen and (max-width : 1000px) {
    #show #heading {
        font-size: 3rem;
    }

    #show #not-heading {
        font-size: 1rem;
    }

    #info1,
    #info2,
    #info3 {
        flex-direction: column;
    }

    .info-img {
        height: 40vw;
        max-width: 70vw;
    }

    .info-text {
        font-size: 1rem;
    }


    #scrolling-container, .image {
        height: 40vh;
    }

    .image img {
        height: 30vh;
    }
}

@media screen and (max-width : 800px) {
    #show {
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }

    #show-img {
        height: 15rem;
        width: 15rem;
    }

    #show #heading {
        font-size: 2.5rem;
    }

    .info {
        padding: 5vh;
    }
    
    .service{
        width: 100%;
        padding: 10%;
    }
    
    .service-img img {
        height: 40vmin;
    }
}

@media screen and (max-width : 500px) {
    #show {
        text-align: center;
        padding: 0 5vw;
        padding-top: 15vh;
    }

    #show #btns {
        justify-content: center;
    }

    #scrolling-container, .image {
        height: 30vh;
    }

    .image img {
        height: 20vh;
    }
}
