* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: segoe ui;
}

.btn{
    border: 1px solid;
    font-size: 2rem;
    padding:  0.5rem 1rem;
    border-radius: 16px;
}

.btn:active{
    box-shadow: 3px 3px 5px;
}


/* MAIN */
#main{
    /* temp height should be removed after some time */
    height: auto;
}

#main::before {
    content: "";
    background: url(../assets/MAIN_BG.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0vh;
    left: 0px;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
#show {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}
#show p{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 0px 3px black;
}

.info{
    /* background-color: rgb(69, 173, 224); */
    display: flex;
    align-items: center;
    padding: 5vh 10vh;
    gap: 5vw;
}

.info-img{
    height: 30vw;
    max-width: 40vw;
    border-radius: 10%;
}

.info-text{
    display: flex;
    /* max-height: 30vw; */
    justify-content: flex-start;
    font-size: 2.1rem;
    align-items: center;
}

/* info styling */
#info1{
    background-color: rgb(255, 255, 255);
}
#info2{
    background-color: rgb(228, 238, 244);
}
#info3{
    background-color: rgb(255, 255, 255);
}

/* THANKS */
#thanks{
    height: 30vh;
    font-size: 2rem;
    background-color: #f8c3c3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh;
    border-radius: 10px;
}

#thanks div{
    line-height: 10vh;
}

#thanks h1 {
    color: rgb(255, 17, 0);
    animation-name: scale;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes scale {
    from {
        font-size: 4rem;
    } 
    to {
        font-size: 5rem;
    }
}
