* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: segoe ui;
}

/* NAVBAR */
#navbar {
    display: flex;
    justify-content :space-around;
    align-items: center;
    height: 15vh;
    max-width: 100vw;
    color: white;
    /* background-color: rgb(27, 46, 167); */
    background-color: rgba(165, 151, 151, 0.272);
}
#navbar h1 {
    color: rgb(255, 115, 0);
}
#navbar ul{
    display: flex;
}

#navbar li{
    list-style: none;
}

#navbar a{
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    padding: 0.6rem 1rem;
    border-radius: 16px;
    border: 1px solid transparent;
}

#navbar a:hover{
    color: black;
    background-color: white;
}

/* Profiles */
#about {
    height: 80vh;
    display: grid;
    grid-template-columns: auto auto auto;
}
#about::before {
    content: "";
    background: url(about.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0vh;
    left: 0px;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 1;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding: 0 10vh;
}
.profile img{
    height: 40vh;
    width: 40vh;
    border: 1px solid black;
    border-radius: 50%;
}
.profile .p-name{
    font-size: 2rem;
    font-weight: 500;
}

/* FOOTER */
#footer{
    height: 5vh;
    color: white;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}