* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: segoe ui;
    overflow-x: hidden;
}

body{
    background: #000;
    color: white;
}

/* MAIN */
/* main divided into three parts of 90vh height each, first main bar graph , second several doghnuts, third last bar graph
name : bar1, manyInOne, bar2 */
/* manyInOne contains two rows, first contains three doughnuts and second one contains one line graph and one doughnut */

/* MAIN */
#main{
    display: grid;
    gap: 5vh;
    padding: 5vh;
}

#main > div {
    border-radius: 10px;
    padding: 5vh;
}

#main #msg{
    height: 30vh;
    background-color: #303030;
}

#main #big1{
    height: 70vh;
    background-color: #303030;
}

#main #manyInOne {
    height: 120vh;
    background-color: #303030;
}

#main #big2{
    height: 60vh;
    background-color: #303030;
}

.chart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    padding: 1vh;
}

.chart > div {
    overflow: hidden;
    font-size: 1.5rem;
}
/* manyInOne */
#manyInOne {
    padding: 2vh;
}

#row1, #row2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#row1{
    height: 40%;
    gap: 1vw;
}

#row1 > div{
    height: 90%;
    padding: 1vh;
    width: 100%;
    border: 1px solid black;
}

#row2{
    height: 60%;
    gap: 1vw;
}

#row2 > div {
    height: 90%;
    width: 100%;
    border: 1px solid black;
}
